<br>
<div class = "container emp-profile">
  <div class="jumbotron" class="row justify-content-md-center rounded" id="jum">
    <div class="col-1"></div>
  <div class="col-3">
    <br>
    <div class="center">
      <img src="/assets/userprof.png" width="120" height="120"/>
    </div>
  </div>
  <div class="col-8">
    <h3 class="display-4" align= "right">{{this.username}}</h3>
    <hr color="white">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <label>Your Movie Fanatics Score</label>
          </div>
          <div class="col-6">
            <span *ngIf="this.score >= .20" class="fa fa-star on"></span>
            <span *ngIf="this.score >= .40" class="fa fa-star on"></span>
            <span *ngIf="this.score >= .60" class="fa fa-star on"></span>
            <span *ngIf="this.score >= .80" class="fa fa-star on"></span>
            <span *ngIf="this.score >= 1.00" class="fa fa-star on"></span>
            <span *ngIf="this.score < .20" class="fa fa-star off"></span>
            <span *ngIf="this.score < .40" class="fa fa-star off"></span>
            <span *ngIf="this.score < .60" class="fa fa-star off"></span>
            <span *ngIf="this.score < .80" class="fa fa-star off"></span>
            <span *ngIf="this.score < 1.00" class="fa fa-star off"></span>
            &nbsp;{{this.score | percent}}
          </div>
          <div class="col-6" *ngIf="this.reviewCount">
            <label>Number of Reviews</label>
          </div>
          <div class="col-6" *ngIf="this.reviewCount">
            {{ this.reviewCount }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class = "container emp-profile">
  <div class="jumbotron" class="row justify-content-md-center rounded" id="fav">
    <div class="col-1"></div>
      <br>
      <h2 class="text-center">{{this.username}}'s Favorites</h2>
    <div *ngIf="this.favMovieArray" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div *ngFor="let movie of this.favMovieArray" class="col-md-2" style="padding-bottom: 20px">
              <div class="card">
                <a routerLink="/movie/{{movie.id}}"><img class="card-img-top rounded" src='{{movie.poster_path}}' /></a>
                <div class="card-block">
                  <h5 class="card-title" style="text-align: center">
                    {{movie.title}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>