<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Reimbursement</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    	<a class="nav-item nav-link" id="home">Home</a>
      <a class="nav-item nav-link" id="homeNav">Logout</a>
    </div>
  </div>
</nav>
</div>
<div class="jumbotron">
<h1 class="display-4">User Services</h1>
<hr>
<br>
	<button class="btn btn-submit" id = "show" value="Log In">Show Past Reimbursements</button>
	<br>
	<br>
	<br>
	<button class="btn btn-submit" id = "make" value="Log In">Request Reimbursement</button>
	<br>
	<script src="reimbursement.js"></script>
</div>


