<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Reimbursement</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    	<a class="nav-item nav-link" id="home">Home</a>
      <a class="nav-item nav-link" id="homeNav">Logout</a>
    </div>
  </div>
</nav>
</div>
<div class="jumbotron">
<h3 align="center" class="display-4">Request Reimbursement</h3>
<br>
<input type="number" step="0.00" id = "amount" name="username" class="form-control col-6" placeholder="Amount...">
<input type="text" id = "description" name="username" class="form-control col-6" placeholder="Description...">
<input type="text" id = "type" name="type" class="form-control col-6" placeholder="Type... Enter 1 for Travel... 2 for Food... 3 for Other...">
<br>
<button class="btn btn-submit" id = "submit" value="submit">Request Reimbursement</button>
<script src="reimbursement.js"></script>

</div>